<div class="row">
	<div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Workflows
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <div class="list-group-item">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-group-lg">
                        </div>
                    </div>
                    <a href="#sub1" class="list-group-item accordion-toggle collapse" data-toggle="collapse">
                        <h4 class="list-group-item-heading">Malicious Urls</h4>
                        <p class="list-group-item-text">
                            <span class="label label-default">kglisson</span>
                            <span class="badge pull-right">2</span>    
                        </p>
                    </a>
                    <div id="sub1" class="accordion-body body collapse" style="height; 0px;">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <tr>
                                    <th>Plugin</th>
                                    <th>Flow</th>
                                    <th>Actions</th>
                                <tr>
                                <tr class="accordion-toggle cllapse" data-toggle="collapse">
                                    <td>Bluecoat</td>
                                    <td>Search <i class="icon-arrow-right"></i> Report</td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-sm btn-primary"><i class="icon-plus-sign"></i></button>
                                            <button class="btn btn-sm btn-warning"><i class="icon-edit"></i></button>
                                            <button class="btn btn-sm btn-danger"><i class="icon-remove-sign"></i></button>
                                        </div>    
                                    </td>
                                </tr>
                            </table>
                        </div> 

                    </div>
                </ul>
            <ul class="pager">
              <li class="disabled"><a href="#">More</a></li>
            </ul>
            </div>
		</div>
	</div>
</div>

